<!DOCTYPE html>
<html xmlns:ts="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		.fieldError{
			color: red;
		}
	</style>
</head>

<body>
	<h1>[[${title}]]</h1>
	<hr>
	<!-- <form th:action="@{/form}" method="post" enctype="application/x-www-form-urlencoded"> -->
	<form th:action="@{/form}" method="post" enctype="application/x-www-form-urlencoded"
	th:object="${userFormDto}">
		<div>
			<label for="username">Name</label>
			<div>
				<input id="name" name="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}?fieldError">
			</div>
			<div th:if="${#fields.hasErrors('name')}" th:errorclass="fieldError" th:errors="*{name}"></div>
		</div>
		<div>
			<label for="username">Surname</label>
			<div>
				<input id="surname" name="surname" type="text" th:field="*{surname}" th:class="${#fields.hasErrors('surname')}?fieldError">
			</div>
			<div th:if="${#fields.hasErrors('surname')}" th:errorclass="fieldError" th:errors="*{surname}"></div>
		</div>
		<div>
			<label for="username">Username</label>
			<div>
				<!--<input id="username" name="username" type="text" th:value="${username}">-->
				<input id="username" name="username" type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')}?fieldError">
			</div>
			<!--
			<div th:if="${error != null && error.containsKey('name')}">
				<strong th:text="${error.name}"> ${error.get('name')} === ${error.name}</strong>
			</div>
			-->
			<div th:if="${#fields.hasErrors('username')}" th:errorclass="fieldError" th:errors="*{username}"></div>
		</div>

		<div>
			<label for="password">Password</label>
			<div>				
				<!--<input id="password" name="password" type="password">-->
				<input id="password" name="password" type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}?fieldError" >
			</div>
			<!--
			<div th:if="${error != null && error.containsKey('password')}">
				<strong th:text="${error.password}"> ${error.get('password')} === ${error.password}</strong>
			</div>
			-->
			<div th:if="${#fields.hasErrors('password')}" th:errorclass="fieldError" th:errors="*{password}"></div>
		</div>

		<div>
			<label for="email">Email</label>
			<div>
				<!--<input id="email" name="email" type="email" th:value="${email}">-->
				<input id="email" name="email" type="email" th:field="*{email}" th:class="${#fields.hasErrors('email')}?fieldError">
			</div>
			<!--
			<div th:if="${error != null && error.containsKey('email')}">
				<strong th:text="${error.password}"> ${error.get('email')} === ${error.email}</strong>
			</div>
			-->
			<div th:if="${#fields.hasErrors('email')}" th:errorclass="fieldError" th:errors="*{email}"></div>
		</div>

		<div>
			<label for="email">Edad</label>
			<div>
				<input id="age" name="age" type="number" th:field="*{age}" th:class="${#fields.hasErrors('age')}?fieldError">
			</div>
			<div th:if="${#fields.hasErrors('age')}" th:errorclass="fieldError" th:errors="*{age}"></div>
		</div>
		<div>
			<button type="submit">Enviar</button>
		</div>
	</form>
</body>
</html>