<!DOCTYPE html>
<html xmlns:ts="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>[[${title}]]</h1>
	<hr>
	<form th:action="@{/form}" method="post" enctype="application/x-www-form-urlencoded"
	th:object="${userFormDto}">
		<div>
			<label for="username">Username</label>
			<div>
				<input id="username" name="username" type="text" th:field="*{name}">
			</div>
		</div>

		<div>
			<label for="password">Password</label>
			<div>
				<input id="password" name="password" type="password" th:field="*{password}">
			</div>
		</div>

		<div>
			<label for="email">Email</label>
			<div>
				<input id="email" name="email" type="email" th:field="*{email}">
			</div>
		</div>

		<div>
			<button type="submit">Enviar</button>
		</div>
	</form>
</body>
</html>